[General]
no_parse=

[RepositoryConfiguration]
uri=/home/user/CVSAnalY

[Database]
db_user = root
db_password = root
db_database = test
db_hostname = localhost
db_driver = mongo
db_port = 27017

[Extensions]
extensions=
